body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img {
    max-width: 100%;
    height: auto;
}
.link a {
    text-decoration: none;
}
.link {
    position: absolute;
    bottom: 150px; /* Adjust the position from the bottom */
    left: 62%; /* Center horizontally */
    transform: translateX(-52%); /* Adjust position to the left */
}